@import url(//db.onlinewebfonts.com/c/b21462c2d71a33ca57874c16fc045c5e?family=Dimensions);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Dimensions";
  src: url("//db.onlinewebfonts.com/t/b21462c2d71a33ca57874c16fc045c5e.eot");
  src: url("//db.onlinewebfonts.com/t/b21462c2d71a33ca57874c16fc045c5e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b21462c2d71a33ca57874c16fc045c5e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/b21462c2d71a33ca57874c16fc045c5e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/b21462c2d71a33ca57874c16fc045c5e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/b21462c2d71a33ca57874c16fc045c5e.svg#Dimensions")
      format("svg");
}

img {
  height: 350px;
  width: 100%;
}

.image-div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: block;
  position: absolute;
  top: -8px;
  width: 44.8vw;
  height: 10vh;
  float: left;
}

.tags-input {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: block;
  position: absolute;
  top: 65px;
  width: 39.4vw;
  height: 12px;
}

.description-box {
  position: absolute;
  display: block;
  bottom: 2vh;
  width: 39vw;
  left: 28.7vw;
}

.text {
  font-size: 18px;
}

.cat-div {
  width: 1px;
  position: relative;
  padding: 0px 0px 11px 0px;
  margin: 0px 0px 0px 0px;
  border: 0;
  bottom: 7.4px;
}

.cat-list {
  max-height: 200px;
}

.chosen-cat {
  color: blue;
  display: block;
  position: relative;
  height: 20px;
  width: 24%;
  font-family: dimensions;
  font-size: 82px;
  letter-spacing: 10px;
  text-align: center;
  left: 37.7%;
}

.search-box {
  position: relative;
  left: 72.2%;
  top: 150%;
}

.upper-site-center {
  width: 106%;
  left: 500%;
}
